services:
  app:
    build: .
    ports:
      - "5000:5000"
      - "5001:5001"
    volumes:
      - .:/app
      - /app/node_modules
      - mytime-db:/app/database
    restart: unless-stopped
    environment:
      - NODE_ENV=development

volumes:
  mytime-db:
